<ion-view title="andrei" id="page2">
  <ion-content padding="true" class="has-header">
    <h3 id="andrei-heading3" style="color:#000000;">Andrei Manalo</h3>
    <ion-list id="andrei-list5">
      <ion-item class="item-thumbnail-left" id="andrei-list-item22">
        <img src="img/JoB0HwzyTyWpMyBvqPpb_andrei.jpg">
        <h2>Address: Sta Rita Pampanga</h2>
        <p>Contact #: +639 456 7891</p>
      </ion-item>
    </ion-list>
    <h4 id="andrei-heading4" style="color:#000000;">Recent Calls:</h4>
    <ion-list id="andrei-list6">
      <ion-item class="assertive" id="andrei-list-item26">Tue: Missed Call +639 123 5685</ion-item>
      <ion-item id="andrei-list-item27">Sun: 5:40 +639 952 6125</ion-item>
      <ion-item class="assertive" id="andrei-list-item28">Fri: Missed Call +639 567 2148</ion-item>
    </ion-list>
  </ion-content>
</ion-view>