<ion-view title="joao" id="page4">
  <ion-content padding="true" class="has-header">
    <h3 id="joao-heading7" style="color:#000000;">Joao Cruz</h3>
    <ion-list id="joao-list9">
      <ion-item class="item-thumbnail-left" id="joao-list-item33">
        <img src="img/F5bTH0aNRIiPazD5mBmV_012221_01.jpg">
        <h2>Address: Mexico Pampanga</h2>
        <p>Contact #: +639 952 9876</p>
      </ion-item>
    </ion-list>
    <h4 id="joao-heading8" style="color:#000000;">Recent Calls:</h4>
    <ion-list id="joao-list10">
      <ion-item class="assertive" id="joao-list-item34">Tue: Missed Call +639 123 5685</ion-item>
      <ion-item id="joao-list-item35">Sun: 5:40 +639 952 6125</ion-item>
      <ion-item class="assertive" id="joao-list-item36">Fri: Missed Call +639 567 2148</ion-item>
    </ion-list>
  </ion-content>
</ion-view>