<ion-view title="neil" id="page3">
  <ion-content padding="true" class="has-header">
    <h3 id="neil-heading5" style="color:#000000;">Neil Catli</h3>
    <ion-list id="neil-list7">
      <ion-item class="item-thumbnail-left" id="neil-list-item29">
        <img src="img/PxJcDzFISPO3fqXTRSSn_Aljur_abrenica_s_Hotdog.jpg">
        <h2>Address: San Luis Pampanga</h2>
        <p>Contact #: +639 123 4567</p>
      </ion-item>
    </ion-list>
    <h4 id="neil-heading6" style="color:#000000;">Recent Calls:</h4>
    <ion-list id="neil-list8">
      <ion-item class="assertive" id="neil-list-item30">Tue: Missed Call +639 123 5685</ion-item>
      <ion-item id="neil-list-item31">Sun: 5:40 +639 952 6125</ion-item>
      <ion-item class="assertive" id="neil-list-item32">Fri: Missed Call +639 567 2148</ion-item>
    </ion-list>
  </ion-content>
</ion-view>