<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="page-heading1" style="color:#000000;">Contacts</h1>
    <form id="page-form2" class="list">
      <label class="item item-input" id="page-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search...">
      </label>
    </form>
    <div id="page-button-bar1" class="button-bar">
      <button id="page-button5" class="button button-dark button-block">Add</button>
      <button id="page-button6" class="button button-dark button-block">Update</button>
      <button id="page-button7" class="button button-dark button-block">Delete</button>
    </div>
    <ion-list id="page-list2">
      <ion-item class="item-avatar item-icon-right dark" id="page-list-item8" ui-sref="andrei()">
        <img src="img/Q0X86mRiQQWwTclWaJcW_andrei.jpg">
        <h2dark>Andrei Manalo +639 456 7891
          <p>KIA</p>
          <i class="icon ion-social-whatsapp"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="page-list-item11" ui-sref="neil()">
        <img src="img/WpqU0JQYQsKTBnYwNrL7_Aljur_abrenica_s_Hotdog.jpg">
        <h2>Neil Catli +639 123 4567</h2>
        <p>Purefoods</p>
        <i class="icon ion-ios-paw"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="page-list-item10" ui-sref="joao()">
        <img src="img/tikj4eKdSkOFKi3Fv3nF_012221_01.jpg">
        <h2>Joao Cruz +639 952 3567</h2>
        <p>CITL</p>
        <i class="icon ion-flash"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>